### Frontend
# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Next.js build output
.next/
out/
build/

# Next.js TypeScript
next-env.d.ts

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directory
coverage/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Eslint cache
.eslintcache

# Environment variables file
.env*
!.env.example

### Go
# Dependency directories (remove the comment below to include it)
# vendor/
